.Main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #EAF0F6;
}

.OuterDiv{
    width: 100%;
    height: 100%;
    display: flex;
}

.appHeader{
    width: 100%;
    height: 8%;
    display: flex;
    background-color: #00BE6E;
    color: white;
    font-size: 24px;
    font-family: lato;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.appBody{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.headerText{
    line-height: 2.5;
    margin-left: 2%;
    text-align: center;
}

.filter-list{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.list-group{
    flex: 6;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px !important;
}

.form-group {
    margin-bottom: 15px;
    font-size: 1rem !important;
    /* padding: 12px 29px !important; */
    border: none;
    width: 90%;
    margin-top: 2%;
    margin-left: 5%;
}

.MenuFormDiv{
    flex: 1;
    display: flex;
}

.list-group{
    flex: 6;
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.list-group-item{
    display: flex;
    width: 90%;
    height: 20%;
    margin: 0px;
    margin-bottom: 2%;
    border-radius: 5px;
    margin-left: 5%;
}

.form-control {
    display: block;
    width: 100%;
    height: 10%;
    /* padding: 6px 12px; */
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-image: none;
    border-bottom: 1px solid #ccc;
    /* border-radius: 2px; */
    /* box-shadow: inset 0 1px 1px rgba(0,0,0,.075); */
    /* transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; */
    font-size: 16px;
    padding: 15px 0px;
    background: none !important;
    border-top: none;
    border-left: none;
}

.menuNameDiv {
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 1 1;
    flex: 1 1;
    font-size: 20px;
    font-family: lato;
    font-weight: bolder;
    line-height: 2;
    text-align: left;
    color: black;
}

.mainBody{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.categoryHeader{
    width: 50%;
    margin-left: 11%;
    font-size: 20px;
    font-weight: bold;
    font-family: lato;
    margin-top: 3%;
    margin-bottom: 1%;
}