.filter-list{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    flex: 3;
}

.list-group{
    flex: 6;
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.form-group {
    width: 40%;
    margin-left: 30%;
    padding: 0px !important;
    margin-bottom: 5px !important;
}

.MenuFormDiv{
    flex: 1;
    display: flex;
}

.list-group{
    flex: 8;
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.list-group-item{
    width: 80%;
    /* flex: 0; */
    height: 50px !important;
    background: #F7F9FB;
    border-radius: 5px;
    /* margin-top: 0.5%; */
    display: flex;
    flex-direction: column;
    line-height: 2.5;
    /* margin-bottom: 0.5%; */
    margin-left: 10%;
    box-shadow: 0px 1px 1px #80808057;
}

.form-control {
    display: block;
    width: 100%;
    height: 10%;
    /* padding: 6px 12px; */
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-image: none;
    border-bottom: 1px solid #ccc;
    /* border-radius: 2px; */
    /* box-shadow: inset 0 1px 1px rgba(0,0,0,.075); */
    /* transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; */
    font-size: 16px;
    padding: 15px 0px;
    background: none !important;
    border-top: none;
    border-left: none;
}

.menuNameDiv {
    display: flex;
    flex: 3 1;
    font-size: 18px;
    font-family: lato;
    font-weight: bolder;
    line-height: 2.5;
    text-align: left;
    color: black;
    padding-left: 10%;
}

.detailMenuDiv{
    display: flex;
    flex-direction: row;
    flex: 1;
}

.viewPrice{
    color: #777777;
    display: flex;
    flex: 1;
    text-align: left;
    font-size: 18px;
    font-family: lato;
    font-weight: bolder;
}

.addItem{
    color: #777777;
    display: flex;
    flex: 1;
    text-align: left;
    padding-left: 10%;
}

.addItemCart{
    width: 60%;
    height: 50%;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 10%;
    color: #61b961;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #61b961;
}

.ViewCart{
    width: 10%;
    background-color: #aad47a;
    display: inline-block;
    justify-content: right;
    align-items: flex-end;
    text-align: center;
    /* float: right; */
    flex: 0.4;
    flex-direction: row-reverse;
    margin-left: 85%;
    margin-top: 1%;
    color: white;
    font-family: lato;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
}

.menuMainDiv{
    display: flex;
    flex-direction: row;
    flex:4;
}

.menufilterDiv{
    display: flex;
    flex: 2.5;
    flex-direction: column;
}

.menuFilterText{
    width: 100%;
    text-align: center;
    padding-top: 5%;
    font-size: 20px;
    font-family: lato;
    display: flex;
    flex: 1;
}

.filterForm{
    flex: 10;
    display: flex;
    flex-direction: column;
    /* margin-top: 5%; */
    margin-left: 10%;
    font-size: 18px;
    font-family: lato;
}