.OrderSummary{
    display: flex;
    /* width: 85%; */
    /* height: 100%; */
    flex-direction: column;
    flex: 1 1;
    background-color: white;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 1px solid #a59898;
    border-radius: 8px;
    overflow: auto;
}

.cartHeaderText{
    display: flex;
    flex: 1 1;
    font-size: 30px;
    text-align: center;
    font-family: lato;
    font-weight: bold;
    padding-top: 3%;
    padding-left: 5%;
}

.cartBody{
	display: flex;
    flex: 8;
    flex-direction: column;
}

.NoCartItems{
	padding-left: 5%;
    padding-top: 5%;
    font-size: 20px;
    font-family: lato;
}

.cartItemDiv{
	display: flex;
    border-bottom: 1px solid #c7bfbf;
    height: 30px !important;
    font-size: 14px;
    font-family: lato;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
}

.cartItemNameDiv{
	display: flex;
    flex: 3;
}

.cartItemPriceDiv{
	display: flex;
    flex: 1;
}

.itemButton{
    display: flex;
    flex: 1 1;
    flex-direction: row;
    border: 1px solid #c7c1c1;
    margin-bottom: 4%;
    font-size: 16px;
    font-family: lato;
    font-weight: bold;
    color: #41ca41;
    line-height: 1;
}

.SubtractButton{
	display: flex;
    flex: 1;
    cursor: pointer;
    padding-left: 10%;
}

.AddButton{
	display: flex;
    flex: 1;
    cursor: pointer;
}

.quantityText{
	display: flex;
    flex: 1;
}

.subTotalDiv{
    flex-direction: row;
    height: 36px !important;
    margin-top: 5%;
    font-family: lato;
    font-size: 18px;
    display: flex;
}

.subTotalDivText{
	flex: 1 1;
    display: flex;
    /* text-align: center; */
    padding-left: 5%;
}

.subTotalDivSum{
    flex: 1 1;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 5%;
}

.checkoutDiv{
	flex-direction: row;
    height: 36px !important;
    margin-top: 5%;
    font-family: lato;
    font-size: 18px;
    display: flex;
}

.checkoutDivText{
    width: 60%;
    height: 90%;
    background: #28c728;
    color: white;
    text-align: center;
    border-radius: 5px;
    margin-left: 20%;
    line-height: 1.7;
    font-size: 18px;
    font-family: lato;
    font-weight: bold;
    cursor: pointer;
   }